services:
  status:
    image: hugomods/hugo:ci-0.149.1
    volumes:
      - .:/src
    ports:
      - 1313:1313
    command: "hugo serve --bind 0.0.0.0 --cleanDestinationDir --disableFastRender --printPathWarnings --printMemoryUsage --noHTTPCache"
