[build]
    command = "hugo --gc --minify"
    publish = "public"
    functions = "functions"

[build.environment]
    HUGO_VERSION = "0.95.0"

[[headers]]
    for = "/*.json"
    [headers.values]
      Access-Control-Allow-Origin = "*"

[context.production.environment]
    HUGO_ENV = "production"
    NODE_ENV = "production"
    HUGO_VERSION = "0.95.0"

[context.deploy-preview]
    command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
    command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"
