name: Hugo
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          # this is needed to checkout theme which normally come from separate git repository
          submodules: true
      - name: hugo
        uses: klakegg/actions-hugo@1.0.0
        with:
          version: 0.95.0
          # "ext-" for the Hugo extended edition including git (https://github.com/klakegg/docker-hugo/blob/master/README.md#hugo-extended-edition)
          image: ext-asciidoctor
